.players-container {
  padding: 10px;
  margin: 10px;
}

.counter {
  padding:5px;
  margin:15px 5px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: 1000;
}

.counter-red {
  background: red;
}

.counter-yellow {
  background: yellow;
}

.activePlayer {
  border: 5px solid black;
}

@media screen and (max-width: 600px) {
  .players-container {
    display: flex;
  }
  .counter {
    width: 35px;
    height: 35px;
  }
}