* {
  box-sizing: border-box;
  font-family: calibri;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(32, 200, 206, 0.562), rgba(157, 248, 255, 0.582));
}

@media screen and (max-width: 600px) {
  .App {
    flex-direction: column-reverse;
  }
}